{% extends "Games/base.html" %}

{% block main %}
<br>

<p>
    <h3>
        Usuario:
        {{object.user}}
    </h3>
    <br>
    <h2>Steam:
        <br>{{object.steam_id}}
    </h2>
    <br>
    {% if object.images %}
        <img src="{{ object.images.url }}" width="200px" height="100%">
    {% endif %}
    {% if not object.images %}
        <h1>No hay imaganes</h1>
    {% endif %}
    <br>
    <h3>
        {{object.Contact}}
    </h3>
    
    <li>
        {% if user.is_authenticated and profile.user == user %}
            <a href="{% url 'profile-update' user.profile.id %}"> Update</a>
        {% endif %}
    </li>    

</p>
{% endblock %}