{% extends "Games/base.html" %}

{% block main %}
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
        {% for post in posts %}
          {% if forloop.first %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
          
          {% if post.images %}
              <img src="{{ post.images.url }}">
          {% endif %}
            
          <div class="container">
              <div class="carousel-caption text-start">
                <h1>{{post.game_name}}</h1>
                <p>{{post.game_type}}</p>
                <p><a class="btn btn-lg btn-dark" href="{%url 'post-details' post.id %}">More Details</a></p>
              </div>
            </div>
          </div>
        {% endfor %}
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <div class="row">

      {%for post in posts %}
        <div class="col-lg-4">
          {% if post.images %}
            <img src="{{ post.images.url }}" height="120" width="75%">
          {% endif %}
            <h4>{{post.game_name}}</h4>
            <h5>Entra para mas detalles</h5>
            <h6>owner: {{post.owner}}</h6>
          <p><a class="btn btn-secondary" href="{%url 'post-details' post.id %}">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      {% endfor %}    
</main>
{% endblock %}