{% extends "Games/base.html" %}
<!-- Html para Mostrar la lista de Posts -->
{% block main %}
<br>
    {% if not object_list %}
        <h2>No hay Post</h2>
    {% endif %}

<ul>
{% for post in object_list %}
<li>
    {{post}} 
    <a href="{% url 'post-details' post.id %}"> Details</a>
    {% if user.is_authenticated and post.owner == user %}
        <a href="{% url 'post-update' post.id %}"> Update</a>
        <a href="{% url 'post-delete' post.id %}"> Delete</a>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}