{% extends "Games/base.html" %}

{% block main %}
<br>

<p>
    <h1>
        {{object.game_name}}
    </h1>
    <br>
    <h2>Descripcion:
        <br>{{object.game_description}}
    </h2>
    <br>
    {% if object.images %}
        <img src="{{ object.images.url }}" width="480px" height="100%">
    {% endif %}
    {% if not object.images %}
        <h1>No hay imaganes</h1>
    {% endif %}
    <br>
    <h3>
        Su nota es: {{object.game_note}}
    </h3>
    <h6>Creado el: {{object.created_time}} por {{object.owner}}</h6>
    &emsp;<a href="{% url 'post-list' %}"> Back</a>
</p>
{% endblock %}

<!--Html para mostrar los detalles del Post -->